---
---
@import "{{ site.theme }}";
#main_content {
  padding-top: 10px;
}

#header_wrap .inner {
  padding: 20px 10px 15px 10px;
  position: relative;
  max-width: 840px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin: 5px 0px;
  flex-wrap: wrap;
}

.navbar a {
  width: 13%;
  min-width: 4rem;
  min-height: 2.5rem;
}

.nav-item {
  height: 100%;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;

  color: white;
  background-color: #333;
  font-weight: 500;
  font-family: inherit;
  
  border-radius: inherit;
  border-color: white;
  border-width: 2px;
  box-shadow: 3px 3px 3px gray;
  
}

.rounded {
  border-radius: 0.5em;
}

.nav-item:hover {
  background-color: #12a1e3;
  cursor: pointer;
}

.inner {
  position: relative;
  max-width: 840px;
  padding: 20px 10px;
  margin: 0 auto;
}
