---
---
.navbar {
  display: flex;
  justify-content:space-between;
  list-style: none;
  padding: 5px;
}
.nav-item{
  padding: 5px;
  border-style: solid;
  border-width: 2px;
}
#main_content {
  padding-top: 10px;
}
@import "{{ site.theme }}";
#main_content {
  padding-top: 10px;
}
#header_wrap .inner {
  padding: 20px 10px 15px 10px;
}
